In [0]:
# import all necessary libraries

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import Imputer
from sklearn import datasets, linear_model, metrics
from sklearn.model_selection import train_test_split, cross_val_predict, cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.utils.multiclass import unique_labels
from sklearn.neighbors import KNeighborsClassifier
import sklearn.metrics
from sklearn.metrics import classification_report

In [0]:
from google.colab import files
uploaded = files.upload()

Saving bank-test.csv to bank-test.csv

In [0]:
# read in training data to dataframe

df = pd.read_csv('bank-train.csv')

In [0]:
test = pd.read_csv('bank-test.csv')

In [0]:
test.head()

      id  age          job  ... cons.conf.idx euribor3m nr.employed
0  32884   57   technician  ...         -46.2     1.299      5099.1
1   3169   55      unknown  ...         -36.4     4.860      5191.0
2  32206   33  blue-collar  ...         -46.2     1.313      5099.1
3   9403   36       admin.  ...         -41.8     4.967      5228.1
4  14020   27    housemaid  ...         -42.7     4.963      5228.1

[5 rows x 21 columns]

In [0]:
df.shape

(32950, 22)

In [0]:
df.head()

      id  age          job   marital  ... cons.conf.idx euribor3m nr.employed  y
0  12556   40  blue-collar   married  ...         -42.7     4.960      5228.1  0
1  35451   31       admin.   married  ...         -46.2     1.244      5099.1  0
2  30592   59      retired   married  ...         -46.2     1.354      5099.1  0
3  17914   43    housemaid  divorced  ...         -42.7     4.961      5228.1  0
4   3315   39       admin.    single  ...         -36.4     4.860      5191.0  0

[5 rows x 22 columns]

In [0]:
df.describe()

                 id           age  ...   nr.employed             y
count  32950.000000  32950.000000  ...  32950.000000  32950.000000
mean   20612.919423     40.017420  ...   5167.094049      0.112443
std    11872.660725     10.435842  ...     72.354625      0.315916
min        0.000000     17.000000  ...   4963.600000      0.000000
25%    10373.250000     32.000000  ...   5099.100000      0.000000
50%    20610.500000     38.000000  ...   5191.000000      0.000000
75%    30858.750000     47.000000  ...   5228.100000      0.000000
max    41187.000000     98.000000  ...   5228.100000      1.000000

[8 rows x 12 columns]

In [0]:
# replace all categorical values with numerical values

df["job"] = df["job"].replace(('admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown'),(1,2,3,4,5,6,7,8,9,10,11,0))

In [0]:
df["marital"] = df["marital"].replace(('divorced','married','single','unknown'),(1,2,3,0))

In [0]:
df["education"] = df["education"].replace(('basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown'),(1,2,3,4,5,6,7,0))

In [0]:
df["default"] = df["default"].replace(('no','yes','unknown'),(1,2,0))

In [0]:
df["housing"] = df["housing"].replace(('no','yes','unknown'),(1,2,0))

In [0]:
df["loan"] = df["loan"].replace(('no','yes','unknown'),(1,2,0))

In [0]:
df["contact"] = df["contact"].replace(('cellular','telephone'),(1,2))

In [0]:
df["month"] = df["month"].replace(('jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'),(1,2,3,4,5,6,7,8,9,10,11,12))

In [0]:
df["day_of_week"] = df["day_of_week"].replace(('mon','tue','wed','thu','fri'),(1,2,3,4,5))

In [0]:
df["poutcome"] = df["poutcome"].replace(('failure','nonexistent','success'),(1,2,3))

In [0]:
df.head()

In [0]:
df["default"] = df["default"].replace(0, np.NaN)

In [0]:
df["education"] = df["education"].replace(0, np.NaN)

In [0]:
df["job"] = df["job"].replace(0, np.NaN)

In [0]:
df["marital"] = df["marital"].replace(0, np.NaN)

In [0]:
df["housing"] = df["housing"].replace(0, np.NaN)

In [0]:
df["loan"] = df["loan"].replace(0, np.NaN)

In [0]:
df.head()

In [0]:
df.fillna(df.mean(), inplace=True)

In [0]:
df

In [0]:
del df['duration']

In [0]:
df.head()

In [0]:
# ONLY FROM TRAINING DATA

y = df['y']
X = df.loc[:,'age':'nr.employed']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=101)

In [0]:
# SVM ALOGRITHM

In [0]:
from sklearn.svm import SVC
from sklearn.linear_model import  LogisticRegression
classifier = SVC(kernel="linear")
classifier.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [0]:
predictedS = classifier.predict(X_test)

In [0]:
print(classification_report(y_test, predictedS))

              precision    recall  f1-score   support

           0       0.91      0.98      0.94      8755
           1       0.60      0.24      0.34      1130

    accuracy                           0.90      9885
   macro avg       0.76      0.61      0.64      9885
weighted avg       0.87      0.90      0.87      9885

In [0]:
neigh = KNeighborsClassifier(n_neighbors=5)

In [0]:
neigh.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [0]:
predictedK = neigh.predict(X)

In [0]:
print(classification_report(y, predictedK))

              precision    recall  f1-score   support

           0       0.93      0.98      0.95     29245
           1       0.71      0.39      0.51      3705

    accuracy                           0.91     32950
   macro avg       0.82      0.69      0.73     32950
weighted avg       0.90      0.91      0.90     32950

In [0]:
test["job"] = test["job"].replace(('admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown'),(1,2,3,4,5,6,7,8,9,10,11,0))
test["marital"] = test["marital"].replace(('divorced','married','single','unknown'),(1,2,3,0))
test["education"] = test["education"].replace(('basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown'),(1,2,3,4,5,6,7,0))
test["default"] = test["default"].replace(('no','yes','unknown'),(1,2,0))
test["housing"] = test["housing"].replace(('no','yes','unknown'),(1,2,0))
test["loan"] = test["loan"].replace(('no','yes','unknown'),(1,2,0))
test["contact"] = test["contact"].replace(('cellular','telephone'),(1,2))
test["month"] = test["month"].replace(('jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'),(1,2,3,4,5,6,7,8,9,10,11,12))
test["day_of_week"] = test["day_of_week"].replace(('mon','tue','wed','thu','fri'),(1,2,3,4,5))
test["poutcome"] = test["poutcome"].replace(('failure','nonexistent','success'),(1,2,3))

In [0]:
test.head()

In [0]:
test["default"] = test["default"].replace(0,np.NaN)
test["education"] = test["education"].replace(0,np.NaN)
test["job"] = test["job"].replace(0,np.NaN)
test["marital"] = test["marital"].replace(0,np.NaN)
test["housing"] = test["housing"].replace(0,np.NaN)
test["loan"] = test["loan"].replace(0,np.NaN)

In [0]:
test.head()

In [0]:
test.fillna(test.mean(), inplace=True)

In [0]:
del test['duration']

In [0]:
test

In [0]:
test_X = test.loc[:,'age':'nr.employed']

In [0]:
X.shape

(32950, 19)

In [0]:
test_X.shape

(8238, 19)

In [0]:
final_predictions = classifier.predict(test_X)

In [0]:
submission = pd.concat([test.id, pd.Series(final_predictions)], axis = 1)
submission.columns = ['id', 'Predicted']
submission.to_csv('submission2.csv', index=False)

In [0]:
submission

In [0]:
from google.colab import files
files.download('submission2.csv')